<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
</head>
<body>
<h1>Let's Chat</h1>
<div id="error-container">
    <h1>Error</h1>
    <p id="error-message"></p>
</div>
<form id="form">
    <input type="text" name="message"/>
</form>

<!--<div>-->
<!--    <input type="text" id="messageInput" placeholder="Type your message">-->
<!--    <button onclick="sendMessage()">Send</button>-->
<!--</div>-->

<script type="text/javascript">
    try {
        console.log('Hello, world!')
        let url = 'ws://' + window.location.host + '/ws/chat/sa/'
        const chatsocket = new WebSocket(url)

        chatsocket.onopen = function (e) {
            console.log("Connection established")
        }

        console.log('Hello, worl!')

        chatsocket.onmessage = function (e) {
            let data = JSON.parse(e.data)
            console.log("Data:", data)
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', function (e) {
            e.preventDefault()
            let message  = e.target.message.value
            chatsocket.send(JSON.stringify({ message: message }))

           form.reset()
        })

        function sendMessage() {
            // Get the message from the input field
            let message = document.getElementById('messageInput').value;

            // Check if the message is not empty
            if (message.trim() !== '') {
                // Send the message through the WebSocket
                chatsocket.send(JSON.stringify({ message: message }));
            }
        }

    } catch (error) {
        console.error("An error occurred:", error);
        // Display the error message in the body
        document.getElementById('error-container').style.display = 'block'; // Show the error container
        document.getElementById('error-message').innerHTML = error.message;
    }
</script>
</body>
</html>
